/* Estilos generales para el navbar */
.navbar {
    background-color: #333; 
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* Estilo de los enlaces */
.navbar-dark .navbar-nav .nav-link {
    color: #F1F1F1; 
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.3s ease; 
    padding: 10px 15px; 
}

/* Color de los enlaces cuando están activos */
.navbar-dark .navbar-nav .nav-link.active {
    color: #8D8D8D; 
}

/* Hover en los enlaces */
.navbar-dark .navbar-nav .nav-link:hover {
    color: #5A5A5A; 
    transform: scale(1.05); 
}

/* Estilo del logo */
.navbar .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #F1F1F1; 
    transition: color 0.3s ease;
}

/* Efecto hover en el logo */
.navbar .navbar-brand:hover {
    color: #D1D1D1; 
}

/* Estilo del botón Cerrar sesión */
.navbar-dark .navbar-nav .logout-btn {
    color: #FF5A5F; 
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease, transform 0.3s ease;
    background: none;
    border: none;
    padding: 10px 15px; 
    text-decoration: none;
    display: inline-block; 
    margin-left: 10px; 
    cursor: pointer;
}

/* Hover en el botón de cerrar sesión */
.navbar-dark .navbar-nav .logout-btn:hover {
    color: #D33F49; 
    transform: scale(1.05); 
}
/* Botón de menú en dispositivos móviles */
.navbar-toggler {
    border: none;
    background-color: #555; 
    border-radius: 4px; 
    padding: 8px 12px; 
}

/* Ícono del menú personalizado */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
}


/* Estilo del navbar en dispositivos pequeños */
@media (max-width: 768px) {
    .navbar-collapse {
        background-color: #333; 
    }
    .navbar-nav {
        flex-direction: column; 
        align-items: center;
    }
    .nav-item {
        margin: 10px 0;
    }
}
